{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<!-- Begin footer -->
	<div class="footer">
		<div class="container-fluid">
			<p class="text-muted">Place sticky footer content here.</p>
		</div>
	</div>
	<!-- End footer -->
{% endif %}