{% extends 'JabToolTemplateBundle:Default/Partials:main.html.twig' %}
{% block title %}INFO{% endblock %}


{% block body %}
	<h1>Jab Platform Info</h1>
	<p>Name: {{ name }}</p>
	<p>Version: {{ version }}</p>
{% endblock %}