{% extends 'JabToolTemplateBundle:Default/Partials:main.html.twig' %}
{% block title %}PROFILE{% endblock %}

{% block body %}

<div class="page-header_">
	<h1>
		<img src="{{ gravatar(user.email, 120) }}" />
		Profile
	</h1>
</div>


	<div class="fos_user_user_show">
		<p>Name: {{ user.person.fullName  }}</p>
		<p>Username: {{ user.username }}</p>
		<p>E-mail: {{ user.email }}</p>
	</div>
{% endblock body %}
